In [7]:
import pandas as pd
import sqlite3

In [2]:
import sqlite3

In [21]:
conn = sqlite3.connect('movie_km.db')

In [22]:
cur = conn.cursor()

In [5]:
cur = conn.cursor()
cur.execute("""CREATE TABLE Movie_cf (
movie int,
C_name0 VARCHAR(500),
year0 int,
E_name0 VARCHAR(500),
C_name1 VARCHAR(500),
year1 int,
E_name1 VARCHAR(500),
similarity1 DOUBLE,
url1 VARCHAR(500),
C_name2 VARCHAR(500),
year2 int,
E_name2 VARCHAR(500),
similarity2 DOUBLE,
url2 VARCHAR(500),
C_name3 VARCHAR(500),
year3 int,
E_name3 VARCHAR(500),
similarity3 DOUBLE,
url3  VARCHAR(500)    
)""")
conn.commit()

In [8]:
df = pd.read_csv("output_final.csv",encoding="utf8")

In [24]:
df2 = pd.read_csv("output.csv",encoding="utf8")

In [25]:
test = df2.values.tolist()

In [26]:
test[5]

['風起',
 1,
 '科幻',
 2,
 '科幻奇幻',
 48,
 'tt2013293',
 'Kaze tachinu',
 2013,
 'http://www.imdb.com/title/tt2013293']

In [23]:
cur.execute("""CREATE TABLE Movie_km (
C_name VARCHAR(500),
tags1 VARCHAR(500),
class1 VARCHAR(500),
tags2 VARCHAR(500),
class2 VARCHAR(500),
views int,
IDofIMDB VARCHAR(500),
E_name VARCHAR(500),
year int,
url VARCHAR(500)
)""")
conn.commit()

In [27]:
for i in test:
    cur.execute("""INSERT INTO Movie_km VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""",
                 (
                         i[0],
                         i[1],
                         i[2],
                         i[3],
                         i[4],
                         i[5],
                         i[6],
                         i[7],
                         i[8],
                         i[9]
                        )
               )
conn.commit()
conn.close()

In [11]:
for i in test:
    cur.execute("""INSERT INTO Movie_cf VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)""",
                 (
                         i[0],
                         i[1],
                         i[2],
                         i[3],
                         i[4],
                         i[5],
                         i[6],
                         i[7],
                         i[8],
                         i[9],
                         i[10],
                         i[11],
                         i[12],
                         i[13],
                         i[14],
                         i[15],
                         i[16],
                         i[17],
                         i[18]
                        )
               )
conn.commit()
conn.close()

In [190]:
conn.commit()

In [218]:
df3 = pd.read_sql_query("select * from Movie_km limit 5;", conn)
df3

,C_name,tags1,class1,tags2,class2,views,IDofIMDB,E_name,year,url
0,星際效應,1,科幻,1,外星科幻,143,tt0816692,Interstellar,2014,http://www.imdb.com/title/tt0816692
1,露西,1,科幻,1,外星科幻,80,tt2872732,Lucy,2014,http://www.imdb.com/title/tt2872732
2,正宗哥吉拉,1,科幻,1,外星科幻,29,tt4262980,Shin Gojira,2016,http://www.imdb.com/title/tt4262980
3,異星入境,1,科幻,1,外星科幻,26,tt2543164,Arrival,2016,http://www.imdb.com/title/tt2543164
4,怪奇孤兒院,1,科幻,1,外星科幻,15,tt1935859,Miss Peregrine's Home for Peculiar Children,2016,http://www.imdb.com/title/tt1935859

In [219]:
sql = '''
        select C_name0,(C_name1||' '||E_name1),(C_name2||' '||E_name2),(C_name3||' '||E_name3),url1,url2,url3
        from Movie_cf
        where C_name0 like '%{}%';
    '''

In [220]:
def get_3cf_movies(string):
    conn = sqlite3.connect('../data/movie_cf.db')
    cur = conn.cursor()
    if(cur.execute(sql.format(string))):
        out = cur.fetchone()
    else:
        out = "沒有你要的電影，看別的啦幹"
    if(out != "沒有你要的電影，看別的啦幹"):
        output = []
        movie = {}
        movie[out[1]] = out[4]
        movie[out[2]] = out[5]
        movie[out[3]] = out[6]
        output.append(out[0])
        output.append(movie)
        conn.commit()
        conn.close()
        return output

In [222]:
def get_moreclass(string):
    a=[]
    if(string == "科幻"):
        a = ['外星科幻','科幻奇幻','科幻動作']
    elif(string == "恐怖"):
        a = ['恐怖驚悚','殭屍','現代恐怖']
    elif(string == "動作"):
        a = ['動作武打','動作英雄','動作戰爭']
    elif(string == "喜劇"):
        a = ['家庭喜劇','動畫喜劇','愛情喜劇']
    elif(string == "劇情"):
        a = ['社會寫實','劇情傳記','懸疑推理']
    return a

In [226]:
sql2 = '''
        select (C_name||' '||E_name),url
        from Movie_km
        where class2 like '%{}%'
        ORDER BY RANDOM()
        limit 3;
    '''

In [227]:
def get_3km_movies(string):
    conn = sqlite3.connect('../data/movie_km.db')
    cur = conn.cursor()

    if(cur.execute(sql2.format(string))):
        out = cur.fetchall()
    else:
        out = "沒有你要的電影，看別的啦幹"
    conn.commit()
    conn.close()
    return out

# TEST

In [221]:
get_3cf_movies("美國隊長")

['美國隊長2：酷寒戰士',
 {'X戰警：未來昔日 X-Men: Days of Future Past': 'http://www.imdb.com/title/tt1877832',
  '明日邊界 Edge of Tomorrow': 'http://www.imdb.com/title/tt1631867',
  '星際異攻隊 Guardians of the Galaxy': 'http://www.imdb.com/title/tt2015381'}]

In [228]:
get_3km_movies("外星科幻")

[('星際效應 Interstellar', 'http://www.imdb.com/title/tt0816692'),
 ('異星入境 Arrival', 'http://www.imdb.com/title/tt2543164'),
 ("怪奇孤兒院 Miss Peregrine's Home for Peculiar Children",
  'http://www.imdb.com/title/tt1935859')]

In [229]:
conn.close()